# Jetbrains
/*.iml
/.idea

# Bearsampp
/.dev

# Visual Studio
.vscode/
.vs/
.vsc/

# ignore "current" directories
/**/current

# Qodo
/.qodo
/.junie/

# Gradle
.gradle/
build/
.gradletasknamecache
gradle-app.setting
gradle-local.properties
build.local.properties
!gradle-wrapper.jar
!gradle-wrapper.properties
